<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.funyou.nativeext.tstore"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />

    <application android:debuggable="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity android:excludeFromRecents="false" android:name="com.funyou.nativeext.tstore.TStoreIAPActivity"></activity>
    	<!-- 
    	<activity android:name="com.feelingk.iap.PwdActivity" android:label="@string/app_name"></activity>
    	 -->
    	<activity android:name="com.funyou.nativeext.tstore.CPwdActivity" android:label="@string/app_name"></activity>
    </application>
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.READ_PHONE_STATE"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <receiver android:name="com.feelingk.iap.SmsReceiver">
    	<intent-filter>
    		<action android:name="android.provider.Telephony.SMS_RECEIVED"/>
    	</intent-filter>
    </receiver>
</manifest>